.sideBar {
    width: 250px;
    height: 100%;
    background-color: #fffeb6;
    position: fixed;
    top: 0;
    left: 0;
    display: flex; /* Asegura que los hijos respeten el diseño */
    flex-direction: column; /* Alinea los hijos en columna */
}

.titulo {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    text-align: center;  
}

.listaSidebar {
    width: 100%;
    height: auto; /* Ajusta la altura al contenido */
    margin: 0; /* Elimina márgenes que puedan causar desbordamiento */
    padding: 0; /* Elimina padding adicional */
    list-style: none; /* Elimina los estilos de lista predeterminados */
}

.fila {
    height: 60px;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    flex-direction: row; /* Alinea los hijos en fila */
    padding: 10px;
    cursor: pointer;
    width: 100%; /* Asegúrate de que ocupe todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}
.icono {
    
    flex: 30%; /* Asegura que el icono ocupe el 30% del ancho */
    display: grid;
    place-items: center; /* Centra el contenido del icono */

}

.texto {
    flex: 70%; /* Asegura que el texto ocupe el 70% del ancho */    
}


